.u-section-1 .u-sheet-1 {
  min-height: 397px;
}

.u-section-1 .u-text-1 {
  font-family: "Ubuntu Sans Mono";
  margin: 30px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-family: "Ubuntu Sans Mono";
  font-weight: 700;
  font-size: 1.5rem;
  margin: 46px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}