 .u-section-1 {
  min-height: 608px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  font-family: Ubuntu, sans-serif;
  margin: 1px calc(((100% - 1140px) / 2)  + 111px) 0;
}

.u-section-1 .u-image-1 {
  width: 160px;
  height: 159px;
  margin: -22px auto 0 calc(((100% - 1140px) / 2)  + 77px);
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(#c200ff, #adcce9);
  margin: 0 auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-btn-2 {
  background-image: linear-gradient(#c200ff, #adcce9);
  margin: 25px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-btn-3 {
  background-image: linear-gradient(#c200ff, #adcce9);
  margin: 25px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-image-2 {
  width: 109px;
  height: 109px;
  margin: 2px auto 0;
}

.u-section-1 .u-image-3 {
  width: 402px;
  height: 120px;
  margin: -54px auto 0 0;
}

.u-section-1 .u-image-4 {
  width: 440px;
  height: 120px;
  margin: -120px auto 0 calc(((100% - 1140px) / 2)  + 303px);
}

.u-section-1 .u-image-5 {
  width: 502px;
  height: 120px;
  transform-origin: center center;
  transform: scaleX(-1);
  margin: -120px 0 1px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-left: calc(((100% - 940px) / 2) + 11px);
    margin-right: calc(((100% - 940px) / 2) + 11px);
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2) + 77px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-3 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-4 {
    margin-left: calc(((100% - 940px) / 2) + 303px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 720px) / 2) + 77px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 720px) / 2)  + 95px);
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-3 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-4 {
    margin-left: calc(((100% - 720px) / 2) + 280px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2) + 77px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-3 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-4 {
    margin-left: calc(((100% - 540px) / 2) + 100px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 523px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 340px) / 2) + 77px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-3 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 101px;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 93px;
    margin-top: -101px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 81px;
    margin-top: -93px;
  }
}